In [1]:
import pandas as pd
import json

In [2]:
with open("train.json") as datafile:
    data = json.load(datafile)
dataframe = pd.DataFrame(data)

In [3]:
dataframe.to_csv('cuisine.csv')

In [4]:
df = pd.read_csv('cuisine.csv')

In [5]:
df

,Unnamed: 0,id,cuisine,ingredients
0,0,10259,greek,"['romaine lettuce', 'black olives', 'grape tom..."
1,1,25693,southern_us,"['plain flour', 'ground pepper', 'salt', 'toma..."
2,2,20130,filipino,"['eggs', 'pepper', 'salt', 'mayonaise', 'cooki..."
3,3,22213,indian,"['water', 'vegetable oil', 'wheat', 'salt']"
4,4,13162,indian,"['black pepper', 'shallots', 'cornflour', 'cay..."
...,...,...,...,...
39769,39769,29109,irish,"['light brown sugar', 'granulated sugar', 'but..."
39770,39770,11462,italian,"['KRAFT Zesty Italian Dressing', 'purple onion..."
39771,39771,2238,irish,"['eggs', 'citrus fruit', 'raisins', 'sourdough..."
39772,39772,41882,chinese,"['boneless chicken skinless thigh', 'minced ga..."
39773,39773,2362,mexican,"['green chile', 'jalapeno chilies', 'onions', ..."

In [6]:
df['cuisine'].unique()

array(['greek', 'southern_us', 'filipino', 'indian', 'jamaican',
       'spanish', 'italian', 'mexican', 'chinese', 'british', 'thai',
       'vietnamese', 'cajun_creole', 'brazilian', 'french', 'japanese',
       'irish', 'korean', 'moroccan', 'russian'], dtype=object)

In [7]:
len(df['cuisine'].unique())

20

In [8]:
df

,Unnamed: 0,id,cuisine,ingredients
0,0,10259,greek,"['romaine lettuce', 'black olives', 'grape tom..."
1,1,25693,southern_us,"['plain flour', 'ground pepper', 'salt', 'toma..."
2,2,20130,filipino,"['eggs', 'pepper', 'salt', 'mayonaise', 'cooki..."
3,3,22213,indian,"['water', 'vegetable oil', 'wheat', 'salt']"
4,4,13162,indian,"['black pepper', 'shallots', 'cornflour', 'cay..."
...,...,...,...,...
39769,39769,29109,irish,"['light brown sugar', 'granulated sugar', 'but..."
39770,39770,11462,italian,"['KRAFT Zesty Italian Dressing', 'purple onion..."
39771,39771,2238,irish,"['eggs', 'citrus fruit', 'raisins', 'sourdough..."
39772,39772,41882,chinese,"['boneless chicken skinless thigh', 'minced ga..."
39773,39773,2362,mexican,"['green chile', 'jalapeno chilies', 'onions', ..."

In [9]:
df_test = pd.read_csv('E:\\Data Science\\new idea\\Total_Final_Data_for_AutoEncoder.csv')

In [10]:
df_test = df_test[['unique_ingredients']]

In [11]:
df_test

                                       unique_ingredients
0       ['milk', 'water', 'butter', 'mashed', 'potato'...
1       ['ounce', 'package', 'watermelon', 'gelatin', ...
2       ['shredded', 'coconut', 'lb', 'lean', 'ground'...
3       ['fresh', 'rhubarb', 'frozen', 'thawed', 'gran...
4       ['flour', 'cinnamon', 'teaspoon', 'baking', 's...
...                                                   ...
592989  ['text', 'c', 'lemon', 'juice', 'env', 'Good',...
592990  ['text', 'pkt', 'Frzn', 'red', 'Boysenberries'...
592991  ['text', 'Tbsp', 'Extra', 'virgin', 'olive', '...
592992  ['text', 'x', 'Corn', 'Tortillas', 'Onion', 'm...
592993  ['text', 'c', 'stone', 'grnd', 'whole', 'wheat...

[592994 rows x 1 columns]

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
import re
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics import accuracy_score

In [14]:
print(df['ingredients'].apply(lambda x: len(x.split(' '))).sum())

807827

In [15]:
special_character_remover = re.compile('[/(){}\[\]\|@,;]')
extra_symbol_remover = re.compile('[^0-9a-z #+_]')
STOPWORDS = set(stopwords.words('english'))

In [16]:
def clean_text(text):
    text = text.lower()
    text = special_character_remover.sub(' ', text)
    text = extra_symbol_remover.sub('', text)
    text = ' '.join(word for word in text.split() if word not in STOPWORDS)
    return text
    
df['ingredients'] = df['ingredients'].apply(clean_text)

In [17]:
print(df['ingredients'].apply(lambda x: len(x.split(' '))).sum())

805043

In [18]:
from sklearn.model_selection import train_test_split
X = df.ingredients
y = df.cuisine
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)

In [19]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((27841,), (11933,), (27841,), (11933,))

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer

lr = Pipeline([('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', LogisticRegression()),
              ])

lr.fit(X_train,y_train)
y_pred1 = lr.predict(X_test)

print(f"Accuracy is : {accuracy_score(y_pred1,y_test)}")

C:\Users\Asus\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy is : 0.7791837760831308

In [21]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\asus\anaconda\lib\site-packages (1.4.2)
Requirement already satisfied: numpy in c:\users\asus\anaconda\lib\site-packages (from xgboost) (1.19.5)
Requirement already satisfied: scipy in c:\users\asus\anaconda\lib\site-packages (from xgboost) (1.6.2)
Note: you may need to restart the kernel to use updated packages.

In [22]:
from xgboost import XGBClassifier

xgboost = Pipeline([('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', XGBClassifier()),
              ])
xgboost.fit(X_train, y_train)

y_pred = xgboost.predict(X_test)

print(f'accuracy {accuracy_score(y_pred,y_test)}')

C:\Users\Asus\Anaconda\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[07:30:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
accuracy 0.7763345344842034

In [23]:
pip install SVC

Requirement already satisfied: SVC in c:\users\asus\anaconda\lib\site-packages (0.1)
Requirement already satisfied: xlrd>=0.9.3 in c:\users\asus\anaconda\lib\site-packages (from SVC) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [24]:
from sklearn.svm import SVC


svc = Pipeline([('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', SVC(C=1.0, random_state=0, kernel='rbf'))])
 
# Fit the model
svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)

print(f'accuracy {accuracy_score(y_pred,y_test)}')

accuracy 0.7936813877482611

In [25]:
X_test

21513    pork cooking oil bamboo shoots chinese rice wi...
1796     hog casings hungarian paprika ancho powder rio...
21861    lamb stock lemon lamb shoulder onions ground c...
26571    green peas cinnamon sticks clove chopped onion...
28720    vegetable oil spray cumin seed grated parmesan...
                               ...
26480    grill seasoning dried oregano ground cinnamon ...
2582     flour salt sugar butter orange ginger baking p...
9407     plain yogurt garlic chopped cilantro canola oi...
27104    milk eggs extra large eggs granulated sugar va...
29719    green bell pepper coarse salt frozen corn oliv...
Name: ingredients, Length: 11933, dtype: object

In [26]:
df_test

                                       unique_ingredients
0       ['milk', 'water', 'butter', 'mashed', 'potato'...
1       ['ounce', 'package', 'watermelon', 'gelatin', ...
2       ['shredded', 'coconut', 'lb', 'lean', 'ground'...
3       ['fresh', 'rhubarb', 'frozen', 'thawed', 'gran...
4       ['flour', 'cinnamon', 'teaspoon', 'baking', 's...
...                                                   ...
592989  ['text', 'c', 'lemon', 'juice', 'env', 'Good',...
592990  ['text', 'pkt', 'Frzn', 'red', 'Boysenberries'...
592991  ['text', 'Tbsp', 'Extra', 'virgin', 'olive', '...
592992  ['text', 'x', 'Corn', 'Tortillas', 'Onion', 'm...
592993  ['text', 'c', 'stone', 'grnd', 'whole', 'wheat...

[592994 rows x 1 columns]

In [27]:
print(df_test['unique_ingredients'].apply(lambda x: len(x.split(' '))).sum())

14250116

In [28]:
df_test['unique_ingredients'] = df_test['unique_ingredients'].apply(clean_text)

In [29]:
prediction_data = df_test.unique_ingredients

In [30]:
prediction = svc.predict(prediction_data)

In [32]:
prediction

array(['southern_us', 'southern_us', 'chinese', ..., 'italian', 'mexican',
       'italian'], dtype=object)

In [61]:
df_test['prediction'] = prediction

<ipython-input-61-aff6c12989f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['prediction'] = prediction

In [62]:
df_test

                                       unique_ingredients   prediction
0       milk water butter mashed potato homestyle ounc...  southern_us
1       ounce package watermelon gelatin boiling water...  southern_us
2       shredded coconut lb lean ground beef minced fr...      chinese
3       fresh rhubarb frozen thawed granulated sugar o...  southern_us
4       flour cinnamon teaspoon baking soda salt powde...  southern_us
...                                                   ...          ...
592989  text c lemon juice env good seasons italian sa...      italian
592990  text pkt frzn red boysenberries light syrup ou...       french
592991  text tbsp extra virgin olive oil divided c fre...      italian
592992  text x corn tortillas onion minced ounce chick...      mexican
592993  text c stone grnd whole wheat possibly graham ...      italian

[592994 rows x 2 columns]

In [63]:
df_test.to_csv('cuisuin_type')

In [65]:
df_test.loc[(df_test['prediction']=='indian')]

                                       unique_ingredients prediction
24      lb pumpkin chopped butternut squash large onio...     indian
36      lb mango chopped teaspoon garlic salt chili po...     indian
70      wheat germ dalia sugar jaggery ghee chopped al...     indian
73      boneless skinless chicken thigh onion teaspoon...     indian
120     butter honey prepared mustard teaspoon salt cu...     indian
...                                                   ...        ...
592845  text c wheat flour plain approximately tbsp ye...     indian
592854  text yellow lentil masoor dal water tomato tsp...     indian
592897  text c water bread flour whole wheat tsp nonfa...     indian
592962  text raita x serving banana c ounce container ...     indian
592988  text gm broken wheat ml water tbsp jaggery gra...     indian

[16349 rows x 2 columns]